<div class="col-sm-12">

    <h3><i class="glyphicon glyphicon-file"></i> {{controllername}}</h3>

    <hr>
    <div class="col-md-12">
        <div class="row">
            <label class="col-md-2">From Account:</label>
            <select ng-model="sourceAccount">
                <option ng-repeat="account in accounts | filter:{catagory: 'INC'} | orderBy:'longName'" value="{{account.id}}">{{account.longName}}</option>
                <option ng-repeat="account in accounts | filter:{catagory: 'AST'} | orderBy:'longName'" value="{{account.id}}">{{account.longName}}</option>
            </select>
        </div>
        <div class="row">
            <label class="col-md-2">To Account:</label>
            <select ng-model="destinationAccount">
                <option ng-repeat="account in accounts | filter:{catagory: 'AST'} | orderBy:'longName'" value="{{account.id}}">{{account.longName}}</option>
                <option ng-repeat="account in accounts | filter:{catagory: 'EXP'} | orderBy:'longName'" value="{{account.id}}">{{account.longName}}</option>
            </select>
        </div>
        <div class="row">
            <label class="col-md-2">Reconciled:</label>
            <input type="radio" ng-model="reconciledStatus" value="true"> Reconciled
            <input type="radio" ng-model="reconciledStatus" value="false"> UnReconciled
        </div>
        <div class="row">
            <label class="col-md-2">Date:</label>
            <input type="text" ng-model="minDate" datepicker-popup="MM-dd-yyyy" is-open="minDateOpen" close-text="Close" placeholder="Minimum Date" />

            <button ng-click="openMinDate($event)">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>

            -
            <input type="text" ng-model="maxDate" datepicker-popup="MM-dd-yyyy" is-open="maxDateOpen" close-text="Close" placeholder="Date" />

            <button ng-click="openMaxDate($event)">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>

        </div>
        <div class="row">
            <label class="col-md-2">Amount:</label>
            <input type="number" ng-model="minAmount" placeholder="Minimum Amount" /> -
            <input type="number" ng-model="maxAmount" placeholder="Maximum Amount" />
        </div>
        <div class="row">
            <label class="col-md-2">Search:</label>
            <input type="text" ng-model="searchText" placeholder="Search Descriptions" />
        </div>
        <button ng-click="resetSearch()">Clear</button>
        <button ng-click="search()">Search</button>
        <hr />
        <button class="btn btn-primary" ng-click="createOpen()">
            Create Transaction
        </button>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Description</th>
                    <th>
                        Date
                        <button ng-click="changeOrderBy('Date')">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                        <button ng-click="changeOrderBy('-Date')">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                    </th>
                    <th>
                        Amount
                        <button ng-click="changeOrderBy('Amount')">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                        <button ng-click="changeOrderBy('-Amount')">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                    </th>
                    <th>Reconciled</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in data">
                    <td>{{findById(record.sourceAccount).longName}}</td>
                    <td>{{findById(record.destinationAccount).longName}}</td>
                    <td>{{record.description}}</td>
                    <td>{{(record.date.getMonth() + 1) + '-' + record.date.getDate() + '-' + record.date.getFullYear()}}</td>
                    <td>{{record.amount | currency}}</td>
                    <td>
                        <button ng-click="reconcile(record)">
                            <span class="glyphicon glyphicon-ok" ng-show="record.reconciled"></span>
                            <span class="glyphicon glyphicon-remove" ng-show="!record.reconciled"></span>
                        </button>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning" ng-click="editOpen(record)"><span class="glyphicon glyphicon-edit"></span></button>
                            <button type="button" class="btn btn-danger" ng-click="delete(record.id)"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="itemCount == 0">
            <h1>No results</h1>
        </div>

        <pagination boundary-links="true" max-size="10" total-items="itemCount" items-per-page="pageSize" ng-model="pageNumber" ng-change="search()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>

<!-- Create/Update Modal -->
<div class="modal fade" id="CreateUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{toEdit.id == null ? "Create" : "Update"}}</h4>
            </div>
            <div class="modal-body">
                <form name="ucform" class="form form-vertical" novalidate>
                    <div class="form-group">
                        <label>Source Account</label>
                        <div class="controls">
                            <select ng-model="toEdit.sourceAccount" class="form-control">
                                <option value="null">None</option>
                                <option ng-repeat="account in accounts | filter:{catagory: 'INC'} | orderBy:'longName'" value="{{account.id}}">{{account.longName}}</option>
                                <option ng-repeat="account in accounts | filter:{catagory: 'AST'} | orderBy:'longName'" value="{{account.id}}">{{account.longName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Destination Account</label>
                        <div class="controls">
                            <select ng-model="toEdit.destinationAccount" class="form-control">
                                <option value="null">None</option>
                                <option ng-repeat="account in accounts | filter:{catagory: 'AST'} | orderBy:'longName'" value="{{account.id}}">{{account.longName}}</option>
                                <option ng-repeat="account in accounts | filter:{catagory: 'EXP'} | orderBy:'longName'" value="{{account.id}}">{{account.longName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <div class="controls">
                            <input type="text" ng-model="toEdit.description" class="form-control" placeholder="Description" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Date</label>
                        <div class="controls">
                            <input type="text" ng-model="toEdit.date" datepicker-popup="MM-dd-yyyy" is-open="editDateOpen" close-text="Close" placeholder="Date" />
                            <button ng-click="openEditDate($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Amount</label>
                        <div class="controls">
                            <input type="number" ng-model="toEdit.amount" class="form-control" placeholder="Amount" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="(toEdit.sourceAccount == null && toEdit.destinationAccount == null) || toEdit.sourceAccount == toEdit.destinationAccount" ng-click="save(toEdit)">Save changes</button>
            </div>
        </div>
    </div>
</div>

